# math-base
h5py
matplotlib
numpy
plotly
scikit-learn
scipy
sympy

pandas
# optional extensions for pandas
openpyxl
xlrd
xlwt

# jupyter-extensions
ipyevents
ipympl
ipywidgets
jupyter-collaboration
jupyterlab
jupyterlab_latex
jupyterlab_widgets
jupyterlab-git
jupyterlab-lsp
octave_kernel
python-lsp-server[all]
voila
watchdog[watchmedo]