# math-base
matplotlib
scipy
numpy
plotly
sympy
h5py
scikit-learn

pandas
# optional extensions for pandas
xlrd
xlwt
openpyxl

# jupyter-extensions
ipywidgets
ipympl
jupyterlab-lsp
python-lsp-server[all]
voila